USER_DB=qwerty
PASSWORD_DB=qwerty
LOCALHOST_DB=qwerty
NAME_DB=qwerty
PORT_DB=5432

# Mail.ru Data
SMTP_SERVER=smtp.mail.ru
SMTP_EMAIL=email@mail.ru
SMTP_PASSWORD=mail_token

# Работа с токеном JWT
SECRET_KEY=jwt_token

# Телеграм-бот
BOT_TOKEN=tg_bot_token